@mixin input-style() {
	display:block;
		width:300px;
		height:35px;
		margin:30px auto;
		border:4px solid white;
		border-radius:20%;
		background-color: #17615a;
		outline:none;
		text-align:center;
		color:white;
		font-size:1.5em;
}

@mixin button-style() {
		display:block;
		width:100px;
		height:30px;
		margin:15px auto;
		border:4px solid white;
		border-radius:20%;
		font-weight:bold;
		background-color: #17615a;
		color:white;
		outline:none;
		text-align:center;

}


body {
	background-color: #7e6792
}

#page1form form {
	margin-top:130px;
	border:2px solid white;
	border-radius:20%;

	
	p{
		text-align:center;
		font-family: cursive;
    	font-size: 2.5em;
    	font-style: italic;
    	color:white;
	
	}

	#error {
		color: red;
		font-size: 1.5em;
		display: none;
	}
	
	input {
		@include input-style();
	}
	
	button {
		@include button-style();
	}

}

#page2groceries {
	color:white;
	table {
		border:2px solid black;
		font-size:2em;
		width:800px;
		th,td{
			border:2px solid black;
			padding:10px;
		}
		.first , .second {
			border:initial;
			font-size:0.4em;
		}
		tr .choose{
			border:none;
			padding-left:35px;
		}
		
	}
	i , span {
		font-size:2em;
		text-align:center;
		padding:20px;
	}
	i:nth-child(5) , i:nth-child(4) {
		float:right;
		display:inline-block;
	}
	
}

#page3add {
	margin:15px auto;
	color:white;
	
	input {
		@include input-style();;
	}
	button {
		@include button-style();
	
	}
}

#page4edit {
	margin:15px auto;
	color:white;

	input {
		@include input-style();;
	}
	button {
		@include button-style();

	}
}

